.backgroundOpac {
  background-color: var(--doctors-primary);
  opacity: 0.2;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
}

.backgroundImg1 {
  background: url("../../img/healthcare-technology-doctor-using-digital-tablet-icon-medical-network-hospital-background-162019727.jpg");
}

.doctorImage {
  border-radius: 50%;
  width: 100%;
}

.grayDots {
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
}
