.navBar {
  max-width: 100vw;
  transition: all 1s;
}

.navList {
  margin-top: 20vh;
  li {
    font-weight: 700;
    font-size: 1.3rem;
    cursor: pointer;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    &:hover {
      background-color: --m1-v1;
      color: --m1-v2;
    }
  }
}

.hideLeft {
  margin-left: -100vw;
}

.menuBurger {
  top: 1.5rem;
  left: 1.5rem;
  div {
    border-bottom: 4px solid #272a31;
    margin-bottom: 0.24rem;
    transition: all 0.5s;
  }
}

@media (min-width: 576px) {
  .navBar {
    width: 17rem;
  }

  .hideLeft {
    margin-left: -17rem;
  }
}
