.navBar {
  max-width: 100vw;
  transition: all 1s;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
}

.navList {
  margin-top: 15vh;

  li {
    font-weight: 700;
    font-size: 1.3rem;
    cursor: pointer;
    padding: 0.5rem 2.5rem 0.5rem 1rem;

    &:hover {
      background-color: var(--bs-primary);
      color: var(--bs-white);
    }
  }
}

.hideLeft {
  margin-left: -100vw;
}

.menuBurger {
  top: 1.5rem;
  left: -0.8rem;
  cursor: pointer;
  transition: all 1s ease-in;

  div {
    border-bottom: 6px solid #fff;
    margin-bottom: 0.24rem;
    transition: all 0.5s;
    min-width: 1.5rem;
    border-radius: 4px;
  }
}

.closeNavMenu {
  align-self: end;
  margin-bottom: 5rem;
  width: 5rem;
  bottom: 5rem;
  background: var(--bs-primary);
  padding: 0.8rem 0;
  color: white;
  border-radius: 0 1.8rem 1.8rem 0;
  border: 1px solid lightgrey;
  text-align: right;

  &:hover {
    opacity: 0.7;
  }

  padding-right: 1rem;

  svg {
    height: 1.5rem;
  }
}

.disappear {
  transform: scaleY(0);
}

@media (min-width: 576px) {
  .navBar {
    width: 19rem;
  }

  .hideLeft {
    margin-left: -19rem;
  }

  .menuBurger {
    left: 1.5rem;
  }
}
