$white: white;
$info: rgb(53, 178, 178);
$secondary: rgb(223, 43, 11);
$primary: #97bf0f;
$light: #efefef;

// HERE FOR DOCUMENTATION
/* make the customizations */
// $theme-colors: (
// "primary":    yellow,
// "secondary":  tomato,
// "success":    $success,
// "info":       teal,
// "warning":    $warning,
// "danger":     $danger,
// "light":      $light,
// "dark":       $dark
// );

$custom-colors: (
  'gri': #900,
);

// $theme-colors: map-merge($theme-colors, $custom-colors);
